In [7]:
import pandas as pd
from urllib.request import urlopen
# from geopy.geocoders import Nominatim
import numpy as np
import os
import csv
import datetime as dt


# import json
import json
# store the URL in url as 
# parameter for urlopen

## API URL  - using quakes MMI "2" - "7"
url2 = "https://api.geonet.org.nz/quake?MMI=2"
url3 = "https://api.geonet.org.nz/quake?MMI=3"
url4 = "https://api.geonet.org.nz/quake?MMI=4"
url5 = "https://api.geonet.org.nz/quake?MMI=5"
url6 = "https://api.geonet.org.nz/quake?MMI=6"
url7 = "https://api.geonet.org.nz/quake?MMI=7"

In [8]:
## Create DF for each API request at varying levels of MMI 
# ---------------------------
# MMI = 2
# ---------------------------
# store the response of URL
response2 = urlopen(url2)
  
# storing the JSON response 
# from url in data
data_json2 = json.loads(response2.read())

MMI2_df = pd.json_normalize(data_json2["features"])
# MMI2_df.head()

# ---------------------------
# MMI = 3
# ---------------------------
# store the response of URL
response3 = urlopen(url3)
  
# storing the JSON response 
# from url in data
data_json3 = json.loads(response3.read())

MMI3_df = pd.json_normalize(data_json3["features"])
# MMI2_df.head()

# ---------------------------
# MMI = 4
# ---------------------------
# store the response of URL
response4 = urlopen(url4)
  
# storing the JSON response 
# from url in data
data_json4 = json.loads(response4.read())

MMI4_df = pd.json_normalize(data_json4["features"])
# MMI4_df.head()


# ---------------------------
# MMI = 5
# ---------------------------
# store the response of URL
response5 = urlopen(url5)
  
# storing the JSON response 
# from url in data
data_json5 = json.loads(response5.read())

MMI5_df = pd.json_normalize(data_json5["features"])
# MMI5_df.head()

# ---------------------------
# MMI = 6
# ---------------------------
# store the response of URL
response6 = urlopen(url6)
  
# storing the JSON response 
# from url in data
data_json6 = json.loads(response6.read())

MMI6_df = pd.json_normalize(data_json6["features"])
# MMI6_df.head()

# ---------------------------
# MMI = 7
# ---------------------------
# store the response of URL
response7 = urlopen(url7)
  
# storing the JSON response 
# from url in data
data_json7 = json.loads(response7.read())

MMI7_df = pd.json_normalize(data_json7["features"])
# MMI7_df.head()

In [9]:
# Union raw all dataframes via concat
# Put into list then concat.

MMI_raw_df_list = [MMI2_df,MMI3_df,MMI4_df,MMI5_df,MMI6_df,MMI7_df]
MMI_union_df = pd.concat(MMI_raw_df_list)
# union_raw_df.count()

MMI_union_df.head()

,type,geometry.type,geometry.coordinates,properties.publicID,properties.time,properties.depth,properties.magnitude,properties.mmi,properties.locality,properties.quality
0,Feature,Point,"[172.7338409, -43.60025024]",2023p457762,2023-06-19T08:55:36.547Z,5.729004,1.953081,2,10 km south-east of Christchurch,best
1,Feature,Point,"[175.4889374, -39.26189804]",2023p457704,2023-06-19T08:25:05.016Z,4.639092,0.460195,-1,15 km north of Ohakune,best
2,Feature,Point,"[173.2361603, -41.78674698]",2023p457682,2023-06-19T08:13:16.789Z,60.789513,2.181106,-1,30 km east of St Arnaud,best
3,Feature,Point,"[174.5054169, -41.63886642]",2023p457664,2023-06-19T08:03:28.042Z,23.350235,2.002240,-1,35 km east of Seddon,best
4,Feature,Point,"[179.3429413, -37.48319626]",2023p457609,2023-06-19T07:34:29.906Z,12.000000,2.377810,0,85 km east of Te Araroa,best

In [10]:
## Split geometry.coordinates into longitude and latitude

MMI_union_df = MMI_union_df.astype({'geometry.coordinates':'string'})
MMI_union_df

# Split the "geometry.coordinates" column into "longitude" and "latitude" columns
MMI_union_df['longitude'] = MMI_union_df['geometry.coordinates'].str.split(',').str[0].str.strip('[ ')
MMI_union_df['latitude'] = MMI_union_df['geometry.coordinates'].str.split(',').str[1].str.strip('] ')

# Convert the columns to the appropriate data type if needed
MMI_union_df['longitude'] = MMI_union_df['longitude'].astype(float)
MMI_union_df['latitude'] = MMI_union_df['latitude'].astype(float)

# DF below combines all API Requests however is still raw from JSON.
MMI_union_df.head()

,type,geometry.type,geometry.coordinates,properties.publicID,properties.time,properties.depth,properties.magnitude,properties.mmi,properties.locality,properties.quality,longitude,latitude
0,Feature,Point,"[172.7338409, -43.60025024]",2023p457762,2023-06-19T08:55:36.547Z,5.729004,1.953081,2,10 km south-east of Christchurch,best,172.733841,-43.600250
1,Feature,Point,"[175.4889374, -39.26189804]",2023p457704,2023-06-19T08:25:05.016Z,4.639092,0.460195,-1,15 km north of Ohakune,best,175.488937,-39.261898
2,Feature,Point,"[173.2361603, -41.78674698]",2023p457682,2023-06-19T08:13:16.789Z,60.789513,2.181106,-1,30 km east of St Arnaud,best,173.236160,-41.786747
3,Feature,Point,"[174.5054169, -41.63886642]",2023p457664,2023-06-19T08:03:28.042Z,23.350235,2.002240,-1,35 km east of Seddon,best,174.505417,-41.638866
4,Feature,Point,"[179.3429413, -37.48319626]",2023p457609,2023-06-19T07:34:29.906Z,12.000000,2.377810,0,85 km east of Te Araroa,best,179.342941,-37.483196

In [11]:
## Final Clean and convert
## stage to additional clean, cut , convert and rename columns
## Check Index
# MMI_union_df.columns.get_loc("properties.publicID")

# Rename Columns
quake_mapping = {MMI_union_df.columns[3]:'publicID',MMI_union_df.columns[4]:'time',MMI_union_df.columns[5]:'depth',MMI_union_df.columns[6]:'magnitude',MMI_union_df.columns[7]:'mmi',MMI_union_df.columns[8]:'locality'}
MMI_new_column_df = MMI_union_df.rename(columns =quake_mapping)

#Create date column 
MMI_new_column_df['date'] =pd.to_datetime(MMI_new_column_df['time']).dt.strftime('%Y-%m-%d')

# strip back to columns needed.
MMI_new_clean_df = MMI_new_column_df[["publicID","date","mmi","magnitude","locality","longitude","latitude","time","depth"]]


# Convert into final data frame quake_mmi_df
quake_mmi_df = pd.DataFrame(MMI_new_clean_df)
quake_mmi_df.reset_index
quake_mmi_df.head()

,publicID,date,mmi,magnitude,locality,longitude,latitude,time,depth
0,2023p457762,2023-06-19,2,1.953081,10 km south-east of Christchurch,172.733841,-43.600250,2023-06-19T08:55:36.547Z,5.729004
1,2023p457704,2023-06-19,-1,0.460195,15 km north of Ohakune,175.488937,-39.261898,2023-06-19T08:25:05.016Z,4.639092
2,2023p457682,2023-06-19,-1,2.181106,30 km east of St Arnaud,173.236160,-41.786747,2023-06-19T08:13:16.789Z,60.789513
3,2023p457664,2023-06-19,-1,2.002240,35 km east of Seddon,174.505417,-41.638866,2023-06-19T08:03:28.042Z,23.350235
4,2023p457609,2023-06-19,0,2.377810,85 km east of Te Araroa,179.342941,-37.483196,2023-06-19T07:34:29.906Z,12.000000

In [12]:
## export to CSV without index
quake_mmi_df.to_csv('quake_mmi_data.csv', encoding='utf-8',index=False)