In [29]:
import pandas as pd
from urllib.request import urlopen
# from geopy.geocoders import Nominatim
import numpy as np
import os
import csv
import datetime as dt


# import json
import json
# store the URL in url as 
# parameter for urlopen

## API URL  - using quakes MMI "2" - "7"
url2 = "https://api.geonet.org.nz/quake?MMI=2"
url3 = "https://api.geonet.org.nz/quake?MMI=3"
url4 = "https://api.geonet.org.nz/quake?MMI=4"
url5 = "https://api.geonet.org.nz/quake?MMI=5"
url6 = "https://api.geonet.org.nz/quake?MMI=6"
url7 = "https://api.geonet.org.nz/quake?MMI=7"

In [30]:
## Create DF for each API request at varying levels of MMI 
# ---------------------------
# MMI = 2
# ---------------------------
# store the response of URL
response2 = urlopen(url2)
  
# storing the JSON response 
# from url in data
data_json2 = json.loads(response2.read())

MMI2_df = pd.json_normalize(data_json2["features"])
# MMI2_df.head()

# ---------------------------
# MMI = 3
# ---------------------------
# store the response of URL
response3 = urlopen(url3)
  
# storing the JSON response 
# from url in data
data_json3 = json.loads(response3.read())

MMI3_df = pd.json_normalize(data_json3["features"])
# MMI2_df.head()

# ---------------------------
# MMI = 4
# ---------------------------
# store the response of URL
response4 = urlopen(url4)
  
# storing the JSON response 
# from url in data
data_json4 = json.loads(response4.read())

MMI4_df = pd.json_normalize(data_json4["features"])
# MMI4_df.head()


# ---------------------------
# MMI = 5
# ---------------------------
# store the response of URL
response5 = urlopen(url5)
  
# storing the JSON response 
# from url in data
data_json5 = json.loads(response5.read())

MMI5_df = pd.json_normalize(data_json5["features"])
# MMI5_df.head()

# ---------------------------
# MMI = 6
# ---------------------------
# store the response of URL
response6 = urlopen(url6)
  
# storing the JSON response 
# from url in data
data_json6 = json.loads(response6.read())

MMI6_df = pd.json_normalize(data_json6["features"])
# MMI6_df.head()

# ---------------------------
# MMI = 7
# ---------------------------
# store the response of URL
response7 = urlopen(url7)
  
# storing the JSON response 
# from url in data
data_json7 = json.loads(response7.read())

MMI7_df = pd.json_normalize(data_json7["features"])
# MMI7_df.head()

In [31]:
# Union raw all dataframes via concat
# Put into list then concat.

MMI_raw_df_list = [MMI2_df,MMI3_df,MMI4_df,MMI5_df,MMI6_df,MMI7_df]
MMI_union_df = pd.concat(MMI_raw_df_list)
# union_raw_df.count()

MMI_union_df.head()

,type,geometry.type,geometry.coordinates,properties.publicID,properties.time,properties.depth,properties.magnitude,properties.mmi,properties.locality,properties.quality
0,Feature,Point,"[173.735199, -42.02975845]",2023p452421,2023-06-17T09:30:18.746Z,22.445688,1.780997,-1,40 km north of Kaikoura,best
1,Feature,Point,"[175.8822479, -40.40055466]",2023p452386,2023-06-17T09:11:40.087Z,26.996634,3.021376,3,20 km east of Palmerston North,best
2,Feature,Point,"[175.8869019, -40.39117813]",2023p452375,2023-06-17T09:05:50.271Z,24.729156,2.935985,3,20 km east of Palmerston North,best
3,Feature,Point,"[176.2091217, -39.65148926]",2023p452356,2023-06-17T08:55:28.053Z,24.881002,0.386626,-1,35 km east of Taihape,best
4,Feature,Point,"[174.8218079, -39.22940063]",2023p452338,2023-06-17T08:45:50.111Z,28.458603,2.143574,-1,45 km east of Stratford,best

In [32]:
## Split geometry.coordinates into longitude and latitude

MMI_union_df = MMI_union_df.astype({'geometry.coordinates':'string'})
MMI_union_df

# Split the "geometry.coordinates" column into "longitude" and "latitude" columns
MMI_union_df['longitude'] = MMI_union_df['geometry.coordinates'].str.split(',').str[0].str.strip('[ ')
MMI_union_df['latitude'] = MMI_union_df['geometry.coordinates'].str.split(',').str[1].str.strip('] ')

# Convert the columns to the appropriate data type if needed
MMI_union_df['longitude'] = MMI_union_df['longitude'].astype(float)
MMI_union_df['latitude'] = MMI_union_df['latitude'].astype(float)

# DF below combines all API Requests however is still raw from JSON.
MMI_union_df.head()

,type,geometry.type,geometry.coordinates,properties.publicID,properties.time,properties.depth,properties.magnitude,properties.mmi,properties.locality,properties.quality,longitude,latitude
0,Feature,Point,"[173.735199, -42.02975845]",2023p452421,2023-06-17T09:30:18.746Z,22.445688,1.780997,-1,40 km north of Kaikoura,best,173.735199,-42.029758
1,Feature,Point,"[175.8822479, -40.40055466]",2023p452386,2023-06-17T09:11:40.087Z,26.996634,3.021376,3,20 km east of Palmerston North,best,175.882248,-40.400555
2,Feature,Point,"[175.8869019, -40.39117813]",2023p452375,2023-06-17T09:05:50.271Z,24.729156,2.935985,3,20 km east of Palmerston North,best,175.886902,-40.391178
3,Feature,Point,"[176.2091217, -39.65148926]",2023p452356,2023-06-17T08:55:28.053Z,24.881002,0.386626,-1,35 km east of Taihape,best,176.209122,-39.651489
4,Feature,Point,"[174.8218079, -39.22940063]",2023p452338,2023-06-17T08:45:50.111Z,28.458603,2.143574,-1,45 km east of Stratford,best,174.821808,-39.229401

In [33]:
## Final Clean and convert
## stage to additional clean, cut , convert and rename columns
## Check Index
# MMI_union_df.columns.get_loc("properties.publicID")

# Rename Columns
quake_mapping = {MMI_union_df.columns[3]:'publicID',MMI_union_df.columns[4]:'time',MMI_union_df.columns[5]:'depth',MMI_union_df.columns[6]:'magnitude',MMI_union_df.columns[7]:'mmi',MMI_union_df.columns[8]:'locality'}
MMI_new_column_df = MMI_union_df.rename(columns =quake_mapping)

#Create date column 
MMI_new_column_df['date'] =pd.to_datetime(MMI_new_column_df['time']).dt.strftime('%Y-%m-%d')

# strip back to columns needed.
MMI_new_clean_df = MMI_new_column_df[["publicID","date","mmi","magnitude","locality","longitude","latitude","time","depth"]]


# Convert into final data frame quake_mmi_df
quake_mmi_df = pd.DataFrame(MMI_new_clean_df)
quake_mmi_df.reset_index
quake_mmi_df.head()

,publicID,date,mmi,magnitude,locality,longitude,latitude,time,depth
0,2023p452421,2023-06-17,-1,1.780997,40 km north of Kaikoura,173.735199,-42.029758,2023-06-17T09:30:18.746Z,22.445688
1,2023p452386,2023-06-17,3,3.021376,20 km east of Palmerston North,175.882248,-40.400555,2023-06-17T09:11:40.087Z,26.996634
2,2023p452375,2023-06-17,3,2.935985,20 km east of Palmerston North,175.886902,-40.391178,2023-06-17T09:05:50.271Z,24.729156
3,2023p452356,2023-06-17,-1,0.386626,35 km east of Taihape,176.209122,-39.651489,2023-06-17T08:55:28.053Z,24.881002
4,2023p452338,2023-06-17,-1,2.143574,45 km east of Stratford,174.821808,-39.229401,2023-06-17T08:45:50.111Z,28.458603

In [34]:
## export to CSV
quake_mmi_df.to_csv('quake_mmi_data.csv', encoding='utf-8')